{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-align-center"><strong>Nuestra Historia</strong></h2>
        <p  class="text-align-center">Es una historia muy larga !! Quieres que te la contemos ? quedate un ratico y sabras mucho de nosotros.</p>
        <p  class="text-align-center">Blah Blah Blah Blah Blah</p>
        <p  class="text-align-center">Blah Blah Blah Blah Blah</p>
        <p  class="text-align-center">Blah Blah Blah Blah Blah</p>
        <p  class="text-align-center">Blah Blah Blah Blah Blah</p>
        <p  class="text-align-center">Blah Blah Blah Blah Blah</p>
    </div>
</div>
{% endblock %}